<div class="col-md-4">
  <div class="card mb-4 shadow-sm">
    <div class="card-body">
      <div class="card-title">
          {{ person.fio }}
      </div>
      <p class="card-text">Пол: {% if person.gender %}мужской{% else %}женский{% endif %}</p>
      <p class="card-text">Дата рождения: {{ person.birthday }}</p>
      <ul>
        {% for contact in person.contacts.all %}
            <li><strong>{{ contact.service }}: </strong><span>{{ contact.link }}</span></li>
        {% empty %}
            <li>{{ person.fio }} контактов не имеет</li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
